.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/**/

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%; /* ✅ 부모가 전체 너비 차지해야 margin-left: auto가 작동함 */
}

.login-right {
  margin-left: auto; /* ✅ 핵심 */
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item {
  margin-right: 20px;
}

/**/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
